@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-900;

  font-family: system-ui, sans-serif;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;

    select option {
      @apply bg-gray-900;
    }

    .button:disabled {
      color: hsl(215, 16%, 40%);
      border-color: hsl(215, 16%, 40%);
      box-shadow: none;
    }

    .rick-title {
      -webkit-text-stroke: 1px rgb(95, 226, 34);
      text-shadow: 1px 1px 2px rgb(67, 242, 13), 0 0 0.2em rgb(129, 230, 106);
    }
  }
}

.rick-title {
  font-family: 'RickAndMorty';
  color: #01b0cc;
  -webkit-text-stroke: 1px rgb(43, 43, 43);
  text-shadow: 1px 1px 2px rgb(67, 242, 13), 0 0 0.2em rgb(100, 213, 74);
}

.container {
  width: min(100% - 2rem, 50rem);
  margin-inline: auto;
}

.status {
  display: flex;
  align-items: center;
  gap: 6px;
}

.status::before {
  content: '';
  display: inline-block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.status_alive::before {
  background-color: #55cc44;
}

.status_dead::before {
  background-color: #d63d2e;
}

.status_unknown::before {
  background-color: #e69d3e;
}

.button {
  border: 1px solid #acacac;
  border-radius: 8px;
  padding: 0.5em 1.5em;

  transition: ease-out 250ms;
}

.button:hover,
.button:focus {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
}

.button:disabled {
  color: hsl(215, 16%, 75%);
  border-color: hsl(215, 16%, 85%);
  box-shadow: none;
}

.text-link:hover {
  color: #01b0cc;
}
